@font-face {
    font-family: 'Cheque';
    src: url('../fonts/Cheque-Regular.woff2') format('woff2'),
        url('../fonts/Cheque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cheque';
    src: url('../fonts/Cheque-Regular.woff2') format('woff2'),
        url('../fonts/Cheque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Cheque';
	src: url('../fonts/Cheque-Black.woff2') format('woff2'), url('Cheque-Black.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
