{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<main>
    <div class="catalog">
        <div class="container">
            <h2 class="catalog__header">Каталог цветов</h2>
            <div class="line-container">
                <div class="flower-item">
                    <img src="{% static 'img/2970.jpg' %}" alt="" class="flower-item__img">
                    <div class="flower-item__main">
                        <div class="flower-item__article">Арт.123124</div>
                        <div class="flower-item__title">Букет цветов Аврора</div>
                    </div>
                    <div class="flower-item__footer">
                        <div class="flower-item__price">18381 руб.</div>
                        <button class=" btn btn_buy">Купить</button>
                    </div>
                </div>
                <div class="flower-item">
                    <img src="{% static 'img/2970.jpg' %}" alt="" class="flower-item__img">
                    <div class="flower-item__main">
                        <div class="flower-item__article">Арт.123124</div>
                        <div class="flower-item__title">Букет цветов Аврора</div>
                    </div>
                    <div class="flower-item__footer">
                        <div class="flower-item__price">18381 руб.</div>
                        <button class=" btn btn_buy">Купить</button>
                    </div>
                </div>
                <div class="flower-item">
                    <img src="{% static 'img/2970.jpg' %}" alt="" class="flower-item__img">
                    <div class="flower-item__main">
                        <div class="flower-item__article">Арт.123124</div>
                        <div class="flower-item__title">Букет цветов Аврора</div>
                    </div>
                    <div class="flower-item__footer">
                        <div class="flower-item__price">18381 руб.</div>
                        <button class=" btn btn_buy">Купить</button>
                    </div>
                </div>
                <div class="flower-item">
                    <img src="{% static 'img/2970.jpg' %}" alt="" class="flower-item__img">
                    <div class="flower-item__main">
                        <div class="flower-item__article">Арт.123124</div>
                        <div class="flower-item__title">Букет цветов Аврора</div>
                    </div>
                    <div class="flower-item__footer">
                        <div class="flower-item__price">18381 руб.</div>
                        <button class=" btn btn_buy">Купить</button>
                    </div>
                </div>
                <div class="flower-item">
                    <img src="{% static 'img/2970.jpg' %}" alt="" class="flower-item__img">
                    <div class="flower-item__main">
                        <div class="flower-item__article">Арт.123124</div>
                        <div class="flower-item__title">Букет цветов Аврора</div>
                    </div>
                    <div class="flower-item__footer">
                        <div class="flower-item__price">18381 руб.</div>
                        <button class=" btn btn_buy">Купить</button>
                    </div>
                </div>
                <div class="flower-item">
                    <img src="{% static 'img/2970.jpg' %}" alt="" class="flower-item__img">
                    <div class="flower-item__main">
                        <div class="flower-item__article">Арт.123124</div>
                        <div class="flower-item__title">Букет цветов Аврора</div>
                    </div>
                    <div class="flower-item__footer">
                        <div class="flower-item__price">18381 руб.</div>
                        <button class=" btn btn_buy">Купить</button>
                    </div>
                </div>
                <div class="flower-item">
                    <img src="{% static 'img/2970.jpg' %}" alt="" class="flower-item__img">
                    <div class="flower-item__main">
                        <div class="flower-item__article">Арт.123124</div>
                        <div class="flower-item__title">Букет цветов Аврора</div>
                    </div>
                    <div class="flower-item__footer">
                        <div class="flower-item__price">18381 руб.</div>
                        <button class=" btn btn_buy">Купить</button>
                    </div>
                </div>
                <div class="flower-item">
                    <img src="{% static 'img/2970.jpg' %}" alt="" class="flower-item__img">
                    <div class="flower-item__main">
                        <div class="flower-item__article">Арт.123124</div>
                        <div class="flower-item__title">Букет цветов Аврора</div>
                    </div>
                    <div class="flower-item__footer">
                        <div class="flower-item__price">18381 руб.</div>
                        <button class=" btn btn_buy">Купить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
